<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.Expr2Dsl.expr2" 
       class = "expr2.expr2Dsl.Expr2DslPackage"
       genModel = "expr2/Expr2Dsl.genmodel" /> 
	
  </extension>





</plugin>
