<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="de.itemis.interpreter.category"
             class="de.itemis.interpreter.ui.logview.TestLogViewPart"
             id="de.itemis.interpreter.ui.logview"
             name="Interpreter Execution Log"
             restorable="true">
       </view>
       <category
             id="de.itemis.interpreter.category"
             name="Interpreter">
       </category>
    </extension>



</plugin>
